<h1>New game</h1>
<% @new %>
<% @score %>
<% @word %>
<% @letters %>
<form action="score" data-turbo="false">
  <!-- ... -->
  <div class="flex-container">
    <p class="d-flex"><%= @letters %></p>
  </div>
  <label for="">What is the longest word you can find?</label>
  <input type="text" name="word">
  <input type="submit" value="Play">
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <%= hidden_field_tag 'letters', @letters %>
</form>
